.flex{
  display: flex;
}
.tc {
  text-align: center;
}

@mixin VTcen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aqi-searchbox{
  padding: 50px;
  justify-content: space-around;
}

.aqi-title{
  flex-direction: column;
  justify-content: space-between;
  h1{
    font-size: 40px;
  }
  select{
    width: 350px;
    height: 56px;
    padding: 16px 20px;
    border: 3px solid #000000;
  }
}

.aqi-list{
  font-size: 16px;
  border: 1.5px solid #000000;
  li{
    width: 122px;
    height: 110px;
    p{
      height: 55px;
      @include VTcen();
      // background: #fff;
      border: 1.5px solid #000000;
    }
  }
}
